<!-- HEADER-->
<header>
  <div class="container text-white py-4">
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <a class="navbar-brand" href="#"><img src="http://tyrolium.fr/Contenu/Image/Tyrolium%20ServerMC%20Sword%203D.png" alt="logo"></a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#objectif">Objectifs</a>
          </li>
          <li class="nav-item ms-lg-4">
            <a class="nav-link active" href="#comment">Jouer</a>
          </li>
          <li class="nav-item ms-lg-4">
            <a class="nav-link active" href="#inscription">S'inscrire</a>
          </li>
          <li class="nav-item ms-lg-4">
            <a class="nav-link active" href="#téléchargement">Téléchargement</a>
          </li>
          <li class="nav-item ms-lg-4">
            <a class="nav-link active" href="#nosreseau">Nos Réseaux</a>
          </li>
          <li class="nav-item ms-lg-4">
            <a target="_blank" class="nav-link active" href="http://tyrolium.tebex.io/">Boutique</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1 class="text-center display-1">TYROLIUM SERVEUR MINECRAFT</h1>
    <h4 class="text-center display-11">Serveur Minecraft Moddée PVP Faction, le projet a débuté en juillet 2017, l'objectif du serveur est d'améliorer l'expérience de jeu sur minecraft en amenant un système beaucoup plus multijoueur</h4>
    <div class="col text-center">
      <button onclick="window.location.href = '#comment';" type="button" class="btn btn-primary">Comment Jouer</button>
    </div>
  </div>
</header>
<!--BAR BLEU-->
<div class="deco"></div>
