<!-- HEADER-->
<header>
  <div class="container text-white py-4">
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <a class="navbar-brand" href="#"><img src="http://tyrolium.fr/Contenu/Image/Tyrolium%20ServerMC%20Sword%203D.png" alt="logo"></a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#objectif">Objectifs</a>
          </li>
          <li class="nav-item ms-lg-4">
            <a class="nav-link active" href="#">Comment</a>
          </li>
          <li class="nav-item ms-lg-4">
            <a class="nav-link active" href="#">S'inscrire</a>
          </li>
          <li class="nav-item ms-lg-4">
            <a class="nav-link active" href="#">Téléchargement</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1 class="text-center display-1">TYROLIUM SERVEUR MINECRAFT</h1>
    <h4 class="text-center display-11">Serveur Minecraft Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </h4>
    <div class="col text-center">
      <button onclick="window.location.href = '#';" type="button" class="btn btn-primary">Comment Jouez</button>
    </div>
  </div>
</header>
<!--BAR BLEU-->
<div class="deco"></div>
