<!--BAR BLEU-->
<div class="deco"></div>
<!--FOOTER-->
<footer>
  <div class="col text-left" style="padding-left: 100px;">
    <a id="logo1" href="#"><img src="http://tyrolium.fr/Contenu/Image/Tyrolium%20ServerMC%20Sword%203D.png" alt="logo-tyrolium-serv"></a>
  </div>
  <div class="col text-center">
    <p class="display-19">2017-2021 © TYROLIUM</p>
  </div>
  <div class="col text-right">
    <button onclick="window.location.href = '#comment';" type="button" class="btn btn-primary">Jouez</button>
  </div>
</footer>
