footer {
  background-color: black;
  border-top: 10px solid;
  border-color: blue;
  margin-top: 50px;
  padding: 20px 0 40px;
}
footer span{
  text-align: center;
}
footer img {
  width: 70px;
}

footer a:hover{
  color: white;
}
