<section id="objectif" class="container">
  <h2>Les objectifs du serveur</h2>
  <ul>
    <li class="col align-self-center">
      <img class="imgObj" src="/assets/tyroliumgem.png" alt="minez">
      <h3>Miné et découvré</h3>
      <br>
      <p>Sur notre serveur vous pourrez découvrir des dizaines de nouveau mineraix, vous pourrez vous faire des armures et des outils permettant de vous aider dans vôtre quête, essayez de tous les découvrir.</p>
    </li>
    <li class="col align-self-center">
      <img class="imgObj" src="/assets/base.png" alt="base">
      <h3>Installé votre base et<br>Protégé là</h3>
      <p>Vous pourrez sur la map créer vôtre base et déposer toutes vos richesses, mais pensez à bien les protégées car n'importe qui pourrait vous les piller sur la map, pensez donc à les sécurisés pour que personne ne puisse vous voler vos richesses.</p>
    </li>
    <li class="col align-self-center">
      <img class="imgObj" src="/assets/helmet.png" alt="faction">
      <h3>Créé votre faction</h3>
      <br>
      <p>Le projet même du pvp est de créer une faction qui est un groupe de personnes qui se ralient sous la même bannière pour allier leur force, qui réunissent leurs richesses pour pouvoir créer la faction la plus riche et puissante du serveur.</p>
    </li>
  </ul>
</section>
