<section id="objectif" class="container">
  <h2>Les objectifs du serveur</h2>
  <ul>
    <li class="col align-self-center">
      <img class="imgObj" src="/assets/tyroliumgem.png" alt="minez">
      <h3>Minez et découvrez</h3>
      <br>
      <p>Sur notre serveur vous pourrez decouvire des dixiene de nouveau mineraix, et avec ces mineraix vous pourrez vous faire des armure et des outils permetant de vous aider dans votre quête, essayez de tous les devouvrire.</p>
    </li>
    <li class="col align-self-center">
      <img class="imgObj" src="/assets/base.png" alt="base">
      <h3>Installé votre base et<br>Protégé là</h3>
      <p>Vous pourez sur la map créer votre base et déposé tout votre richesse mais pensez a bien la protégé car n'importe que pourra vous les pillez sur la map, donc pensez a les securisé pour que personne puise volez vos richesse.</p>
    </li>
    <li class="col align-self-center">
      <img class="imgObj" src="/assets/helmet.png" alt="faction">
      <h3>Créer votre fation</h3>
      <br>
      <p>Le projet même du pvp/faction est de créer une faction c'est un groupe de personne qui ce ralie sur la même baniere pour alliez ces force qui reunnie ces richesse pour pouvoir créer la faction la plus riche de tout le serveur.</p>
    </li>
  </ul>
</section>
