<section id="objectif" class="container">
  <h2>Les objectifs du serveur</h2>
  <ul>
    <li class="col align-self-center">
      <img src="" alt="minez">
      <h3>Minez et découvrez</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure nesciunt eveniet, quis nisi sint atque doloribus illum quia maxime est repudiandae molestiae expedita possimus vel delectus, accusamus repellat animi.</p>
    </li>
    <li class="col align-self-center">
      <img src="" alt="base">
      <h3>Installé votre base et<br>Protégé là</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure nesciunt eveniet, quis nisi sint atque doloribus illum quia maxime est repudiandae molestiae expedita possimus vel delectus, accusamus repellat animi.</p>
    </li>
    <li class="col align-self-center">
      <img src="i" alt="faction">
      <h3>Créer votre fation</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure nesciunt eveniet, quis nisi sint atque doloribus illum quia maxime est repudiandae molestiae expedita possimus vel delectus, accusamus repellat animi.</p>
    </li>
  </ul>
</section>
