<section id="nosreseau" class="container">
  <h2>Nos Reseaux sociaux</h2>
  <ul>
    <li class="col align-self-center">
      <img class="imgRe" src="/assets/instagram.png" alt="minez">
      <h3>Instagram</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure nesciunt eveniet, quis nisi sint atque doloribus illum quia maxime est repudiandae molestiae expedita possimus vel delectus, accusamus repellat animi.</p>
      <a href="#nosreseau">Nous Follow</a>
    </li>
    <li id="discord" class="col align-self-center">
      <img class="imgRe" src="/assets/discord.png" alt="base">
      <h3>Discord</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure nesciunt eveniet, quis nisi sint atque doloribus illum quia maxime est repudiandae molestiae expedita possimus vel delectus, accusamus repellat animi.</p>
      <a href="#nosreseau">Rejoindre</a>
    </li>
    <li class="col align-self-center">
      <img class="imgRe" src="/assets/twitter.png" alt="faction">
      <h3>Twitter</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure nesciunt eveniet, quis nisi sint atque doloribus illum quia maxime est repudiandae molestiae expedita possimus vel delectus, accusamus repellat animi.</p>
      <a href="#nosreseau">Nous Follow</a>
    </li>
  </ul>
</section>
