<section id="nosreseau" class="container">
  <h2>Nos Reseaux sociaux</h2>
  <ul>
    <li class="col align-self-center">
      <img class="imgRe" src="/assets/instagram.png" alt="minez">
      <h3>Instagram</h3>
      <p>Sur Instagram nous faisons des story de l'avancement du développement du serveur et nous postons en images des news de celui-ci, il s'agit surtout d'un compte qui a pour but de nous faire connaître.</p>
      <a target="_blank" href="https://www.instagram.com/tyroliumserver/">Nous Follow</a>
    </li>
    <li id="discord" class="col align-self-center">
      <img class="imgRe" src="/assets/discord.png" alt="base">
      <h3>Discord</h3>
      <p>Notre serveur discord sera sûrement le réseau que nous utiliserons le plus, c'est l'endroit où tout le staff peut tout gérer. Nous nous occuperons des demandes de recrutement, des problèmes quels qu'ils soient, c'est aussi un endroit de partage et un endroit qui regroupe toutes les annonces du serveur. Nous essayons d'êtres le plus possible à vôtre disponibilité sur ce serveur et c'est aussi un bel endroit pour le partage entre notre communauté.</p>
      <a target="_blank" href="https://discord.gg/km8h5jHezt">Rejoindre</a>
    </li>
    <li class="col align-self-center">
      <img class="imgRe" src="/assets/twitter.png" alt="faction">
      <h3>Twitter</h3>
      <p>Notre Twitter est là pour annoncer les petites nouveautés, les events et pour pouvoir nous faire parvenir vos retours en cas de problèmes ou de pannes, c'est l'endroit de la communication rapide.</p>
      <a target="_blank" href="https://twitter.com/tyrolium">Nous Follow</a>
    </li>
  </ul>
</section>
