<section id="nosreseau" class="container">
  <h2>Nos Reseaux sociaux</h2>
  <ul>
    <li class="col align-self-center">
      <img class="imgRe" src="/assets/instagram.png" alt="minez">
      <h3>Instagram</h3>
      <p>Sur instagram nous fesont des story de l'avancement du developpement du serv et postons en image des news du serveur il s'ajit surtout d'un compte qui a pour bute de nous faire connaitre.</p>
      <a href="#nosreseau">Nous Follow</a>
    </li>
    <li id="discord" class="col align-self-center">
      <img class="imgRe" src="/assets/discord.png" alt="base">
      <h3>Discord</h3>
      <p>Notre serveur discord sera surment le reseaux que nous utiliseront le plus, c'est l'endroit ou tous le staff peut gerez nous nous occupont des demande de recrutement des probleme qu'elle qu'il sois, c'est aussi un endroit de partage, et un endrois qui regroupe toute les annonce du serveur, nous esseyons d'etre le plus a votre disponiblité sur ce serveur discord et c'est aussi un belle endroit pour le partage entre notre communauté.</p>
      <a href="#nosreseau">Rejoindre</a>
    </li>
    <li class="col align-self-center">
      <img class="imgRe" src="/assets/twitter.png" alt="faction">
      <h3>Twitter</h3>
      <p>Notre twitter est là pour annoncé les petite nouveauté, les event et pour pouvoir faire vous prevenir en cas de probleme ou de panne, c'est l'endroit de la communication rapide</p>
      <a href="#nosreseau">Nous Follow</a>
    </li>
  </ul>
</section>
