

.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}
#download{
  display: flex;
  margin-bottom: 100px;
}

#download div:first-of-type{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://tyrolium.fr/Contenu/Image/TyroliumSwordBackground.png");
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

#download div:last-of-type{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("http://tyrolium.fr/Contenu/Image/RhodoniteSwordBackground.png");
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

#download div {
  width: 50%;
  text-align: center;
  padding: 80px 20px;
  color: white;
  background-size: cover;
  background-position: center;
}

#download div h2{
  text-transform: uppercase;
}

@media(max-width: 767px) {
  #download {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
}
