<div id="téléchargement">
  <h2>Téléchargement du launcher</h2>
<article id="download" class="container">
  <div>
    <p>Team Blue</p>
    <h2>Windows <span class="badge bg-light" style="color: black">New</span></h2>
    <!--<button type="button" class="btn btn-primary">Téléchargé (.exe)</button>-->
    <s class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Télécharger (.exe)
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="http://tyrolium.fr/Download/Win32x/TyroliumLauncher.exe">Windows 86x (32Bits)</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="http://tyrolium.fr/Download/Win64x/TyroliumLauncher.exe">Windows 64x (64Bits)</a></li>
      </ul>
    </s>
  </div>
  <div>
    <p>Team Red</p>
    <h2>Linux/Mac</h2>
    <button onclick="window.location.href = 'http://tyrolium.fr/Download/Universal/TyroliumLauncher.jar';" type="button" class="btn btn-primary">Télécharger (.jar)</button>
  </div>
</article>
</div>
