/************************************
CSS GLOBAL
************************************/
body {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-family: 'Syne Mono', monospace;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;

}
/************************************
CLASS GLOBALES
************************************/
.container {
  max-width: 1060px;
  margin: 10px auto;
}
.btn{
  background-color:  rgb(49, 57, 173);
  color: white;
  font-size: 15px;
  padding: 10px;
}
.deco {
  background-color:  rgb(49, 57, 173);
  padding: 5px;
}
/************************************
STYLE PAR SECTION
************************************/
/*HEADER*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/bg-earth.jpg");
  background-position: center;
  background-size: cover;
  padding: 20px;
  color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav img {
  height: 50px;
  width: auto;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-left: 20px;
  color: white;
}
header h1 {
  text-align: center;
  padding-top: 150px;
  text-transform: none;
  font-size: 4rem;
  letter-spacing: 5px;
}
header h8{
  text-align: center;
  padding-top: 150px;
  text-transform: none;
}
header .btn{
  margin-bottom: 80px;
}
/*OBJECTIFS*/
#obj h2 {
  margin-top: 60px;
  color:  rgb(49, 57, 173);
}
#obj ul {
  padding: 50px 0;
  display: flex;
  text-align: center;
  justify-content: space-between;

}
#obj ul li {
  margin: 10px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
#obj ul li h3{
  font-weight: bold;
  padding: 20px;
}
/*EXPLORATIONS*/
#explorations {
  color: white;
  background-image: url("/assets/bg-stars.jpg");
}
#explorations h2 {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 60px;
}
#explorations ul {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 35px;
  display: flex;
  text-align: center;
  justify-content: space-between;

}
#explorations ul li {
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  border: 3px solid;
}
/*SPONSORS*/
#spon h2 {
  margin-top: 60px;
  color:  rgb(49, 57, 173);
}
#spon ul {
  padding: 50px 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
#spon ul li {
  margin: 10px;
}
#spon div button {
  margin-bottom: 50px;
}
/*FOOTER*/
footer {
  background: black;
  padding: 20px 0;
  color: white;
  text-align: center;
  display: flex;
}
footer img {
  height: 50px;
  width: auto;
}
/************************************
MEDIA QUERY
************************************/
@media (max-width:768px) {
  /**CLASS GLOBALES**/
  .container {
    max-width: 90%;
  }
  /**STYLE PAR SECTION**/
  /*OBJECTIFS*/
  #obj ul {
    flex-direction: column;
  }
  #obj ul li {
    width: 100%;
  }
  /*EXPLORATIONS*/
  #explorations ul {
    flex-direction: column;
    padding-bottom: 0px;
  }
  #explorations ul li {
    margin-bottom: 35px;
    width: 100%;
  }
  /*SPONSORS*/
  #spon ul {
    flex-direction: column;
    padding-bottom: 0px;
  }
  #spon ul li {
    margin-bottom: 35px;
    width: 50%
  }
}
