<section id="comment">
  <div class="container">
    <h2>Comment faire pour Jouez sur le serveur</h2>
    <ul>
      <li class="col align-self-center">
        <img src="/assets/account.png" alt="account">
        <h3>Créez votre compte</h3>
        <a href="#inscription">S'inscrire</a>
      </li>
      <li class="col align-self-center">
        <img src="/assets/download.png" alt="download">
        <h3>Téléchargez le launcher sur le site</h3>
        <a href="#téléchargement">Téléchargement</a>
      </li>
      <li class="col align-self-center">
        <img src="/assets/keyboard.png" alt="connecte">
        <h3>Lancez le launcher et connectez-vous avec le compte que vous avez créé sur le site</h3>
      </li>
      <li class="col align-self-center">
        <img src="/assets/game.png" alt="joué">
        <h3>Lancez le jeux et connectez-vous sur le serveur</h3>
      </li>
      <li class="col align-self-center">
        <img src="/assets/help.png" alt="help">
        <h3>En cas de problème hesitez pas à nous contacter sur discord</h3>
        <a href="#nosreseau">Nous Contacter</a>
      </li>
    </ul>
  </div>
</section>
