<section id="comment">
  <div class="container">
    <h2>Comment faire pour Jouez sur le serveur</h2>
    <ul>
      <li class="col align-self-center">
        <img src="" alt="account">
        <h3>Créer votre compte</h3>
      </li>
      <li class="col align-self-center">
        <img src="" alt="download">
        <h3>télécharge le launcher sur le site</h3>
      </li>
      <li class="col align-self-center">
        <img src="" alt="connecte">
        <h3>Lance le launcher et connecte te toi avec le compte que tu a créer sur le site</h3>
      </li>
      <li class="col align-self-center">
        <img src="" alt="joué">
        <h3>Lancé le jeux et connecté vous sur le serv</h3>
      </li>
    </ul>
  </div>
</section>
