<section id="comment">
  <div class="container">
    <h2>Comment faire pour Jouez sur le serveur</h2>
    <ul>
      <li class="col align-self-center">
        <img src="/assets/account.png" alt="account">
        <h3>Créer votre compte</h3>
        <a href="#inscription">Formulaire</a>
      </li>
      <li class="col align-self-center">
        <img src="/assets/download.png" alt="download">
        <h3>télécharge le launcher sur le site</h3>
        <a href="#téléchargement">Téléchargé</a>
      </li>
      <li class="col align-self-center">
        <img src="/assets/keyboard.png" alt="connecte">
        <h3>Lance le launcher et connecte te toi avec le compte que tu a créer sur le site</h3>
      </li>
      <li class="col align-self-center">
        <img src="/assets/game.png" alt="joué">
        <h3>Lancé le jeux et connecté vous sur le serv</h3>
      </li>
      <li class="col align-self-center">
        <img src="/assets/help.png" alt="help">
        <h3>En cas de problème hesité pas a nous contacté sur discord</h3>
        <a href="#nosreseau">Nous Contacté</a>
      </li>
    </ul>
  </div>
</section>
